body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    background: #e50914;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
